[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"rpi.gpio" = "*"
adafruit-blinka = "*"
paho-mqtt = "*"
timeloop = "*"
gpiozero = "*"
adafruit-circuitpython-bme280 = "*"
pigpio = "*"
adafruit-circuitpython-ina219 = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.7"
