[logger]
logLevel = INFO
[mqtt]
host = host
port = 8883
username = username
password = password
baseTopic = smarthome/rpi/
[rpi]
deviceName = dev
[sensors]
bme280 = off
ina219 = off
tamper = off


